on: 
  release: 
    types: [published]

jobs:
  release-vocab-term:
    runs-on: ubuntu-22.04
    name: Releases the Solid Common Vocab package
    steps:
     # Makes the current repository available to the workflow.
    - name: Checkout repo
      uses: actions/checkout@v4
      # Initializes node for the runner
    - name: Node setup
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        registry-url: 'https://registry.npmjs.org'
        scope: '@inrupt'
    - name: NPM install, test and publish
      run: |
        npm install
        npm test
    - run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.INRUPT_NPM_TOKEN }}
